{% extends 'base.html.twig' %}

{% block title %}Gerer les annonces
{% endblock %}

{% block body %}
	<h1>Gérer les annonces</h1>
	<a href="{{path('admin_annonces_ajout')}}" class="btn shadow-1 rounded-1 blue">Ajouter une annonce</a>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titre</th>
					<th>Date</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
				{% for annonce in annonces %}
					<tr>
						<td>{{annonce.id}}</td>
						<td>{{annonce.title}}</td>
						<td>{{annonce.createdAt|date}}</td>
						<td>{{annonce.active}}</td>
						<td class="text-center">
							<a href="{{path('admin_annonces_modif', {id: annonce.id})}}" class="btn shadow-1 rounded-1 blue">Modifier</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
	{{dump(annonces)}}

{% endblock %}
