{% extends 'users.html.twig' %}

{% block title %}Hello UsersController!
{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		<div class="col-xs4">
			<h1>Profil de
				{{app.user.firstname}}
				{{app.user.name}}</h1>
		</div>
		<div class="col-xs1">Nom :</div>
		<div class="col-xs3">{{app.user.name}}</div>
		<div class="col-xs1">Prénom :</div>
		<div class="col-xs3">{{app.user.firstname}}</div>
		<div class="col-xs1">Email :</div>
		<div class="col-xs3">{{app.user.email}}</div>
	</div>
{% endblock %}
